:root {
  --yellow: #f2b237;
  --yellow-hover: #e8a21f;
  --blue: #31c4be;
  --blue-hover: #30b6b1;
  --box-shadow-back: #1b1b1b;
  --bg-container: #192b33;
  --light-gray: #d9d8d8;
  --med-gray: #1e3541;
}
